// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1{
    margin-left: 5%;
}

#new_categ{
    margin-bottom: 20%;
}